{% extends "AmcontrolBundle::layout.html.twig" %}

{% block title %}
Brujita está caliente
{% endblock %}



{% block content %}
<h1>Listas edit</h1>

<form action="{{ path('listas_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('listas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('listas_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
